.input {
  width: 280px;
  border: 0;
  padding: 5px 0;

  &:focus {
    border: 1px solid #ffffff;
  }
}

.text_label {
  margin-top: 20px;
  width: 280px;
  font-family: Inter;
  font-size: 9px;
  font-weight: 500;
  line-height: 9px;
  letter-spacing: 0em;
  color: #999999;

  &:hover {
    text-decoration: underline 2px #0d99ff;
  }
}

.change_lable {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-family: Inter;
  font-size: 13px;
  font-weight: 500;
  line-height: 13px;
  letter-spacing: 0em;
  text-align: left;
  color: #1e1e1e;

  &:hover {
    text-decoration: 2px underline #0d99ff;
  }
}

.change_input {
  width: auto;
  font-family: Inter;
  font-size: 13px;
  font-weight: 500;
  line-height: 13px;
  letter-spacing: 0em;
  text-align: right;
  border: none;
  color: #999999;

  &:focus {
    border: none;
  }

  &:hover {
    text-decoration: 2px underline #0d99ff;
  }
}
