.blockData_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 97px;
}

.line {
  width: 510px;
  margin: 10px 0;
  border: solid 1px #eaeaea;
  &:hover {
    border: 1px solid #0d99ff;
  }
}

.submit {
  width: 280px;
  height: 37px;
  border-radius: 8px;
  border: none;
  margin-top: 90px;
  background-color: #3369f3;

  &:hover {
    border: 2px solid #0d99ff;
  }
}

.value {
  color: #ffffff;

  &:hover {
    text-decoration: 2px underline #0d99ff;
  }
}
