.profile_wrapper {
  display: flex;
  min-height: 100vh;
}

.back {
  display: flex;
  width: 64px;
  background-color: #fbfbfb;
  border: 2px solid transparent;
  justify-content: center;
  align-items: center;

  &:hover {
    border: 2px solid #0d99ff;
  }
}

.data {
  display: flex;
  flex-direction: column;
  margin: 60px auto 0 auto;
}

.name {
  margin-top: 21px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 60px;

  &:hover {
    text-decoration: 2px underline #0d99ff;
  }
}

.line {
  width: 510px;
  margin: 10px 0;
  border: solid 1px #eaeaea;

  &:hover {
    border: 1px solid #0d99ff;
  }
}
