$blue: rgba(13, 153, 255, 1);
$purple: rgba(51, 105, 243, 1);
$lightGrey: rgba(251, 251, 251, 1);
$darkGrey: rgba(239, 239, 239, 1);
$grey: rgba(234, 234, 234, 1);
$dirtyGrey: rgba(153, 153, 153, 1);
$black: rgba(30, 30, 30, 1);
$red: rgba(255, 47, 47, 1);

.profileWrapper {
  display: flex;
  min-height: 100vh;
}

.back {
  display: flex;
  width: 64px;
  background-color: $lightGrey;
  border: 2px solid transparent;
  justify-content: center;
  align-items: center;

  &:hover {
    border: 2px solid $blue;
  }
}

.data {
  display: flex;
  flex-direction: column;
  margin: 60px auto 0 auto;
}

.name {
  margin-top: 21px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  text-align: center;
  margin-bottom: 60px;

  &:hover {
    text-decoration: 2px underline $blue;
  }
}

.line {
  width: 510px;
  margin: 10px 0;
  border: solid 1px $grey;

  &:hover {
    border: 1px solid $blue;
  }
}

.avatar {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  width: 130px;
  height: 130px;
  border: 2px solid transparent;
  border-radius: 50%;
  background: $darkGrey;

  &:hover {
    border: 2px solid $blue;
  }
}

.line {
  width: 510px;
  margin: 10px 0;
  border: solid 1px $grey;

  &:hover {
    border: 1px solid $blue;
  }
}

.blockData {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}

.dataWrapper {
  display: flex;
  width: 510px;
  justify-content: space-between;
}

.spanName {
  font-family: "Inter", sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 13px;
  text-align: left;
  color: $black;

  &:hover {
    text-decoration: 2px underline $blue;
  }
}

.spanValue {
  font-family: "Inter", sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 13px;
  text-align: right;
  color: $dirtyGrey;

  &:hover {
    text-decoration: 2px underline $blue;
  }
}

.blockAction {
  display: flex;
  flex-direction: column;
}

.action {
  font-family: "Inter", sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 13px;
  text-align: left;
  text-decoration: none;

  &:hover {
    text-decoration: 2px underline $blue;
  }
}

.mediumBlue {
  color: $purple;
}

.red {
  color: $red;
}
