.notFound_wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.text1 {
  // width: 80px;
  height: 40px;
  margin-bottom: 20px;
}

.span_text1 {
  font-family: Inter;
  font-size: 40px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: center;

  &:hover {
    text-decoration: 2px underline #0d99ff;
  }
}

.text2 {
  margin-bottom: 69px;
}

.span_text2 {
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;

  &:hover {
    text-decoration: 2px underline #0d99ff;
  }
}

.a_text3 {
  font-family: Inter;
  font-size: 11px;
  font-weight: 500;
  line-height: 11px;
  letter-spacing: 0em;
  text-align: center;
  color: #3369f3;
  text-decoration: none;

  &:hover {
    text-decoration: 2px underline #0d99ff;
  }
}
