.data_wrapper {
  display: flex;
  width: 510px;
  justify-content: space-between;
}

.span_name {
  font-family: Inter;
  font-size: 13px;
  font-weight: 500;
  line-height: 13px;
  letter-spacing: 0em;
  text-align: left;
  color: #1e1e1e;

  &:hover {
    text-decoration: 2px underline #0d99ff;
  }
}

.input_value {
  font-family: Inter;
  font-size: 13px;
  font-weight: 500;
  line-height: 13px;
  letter-spacing: 0em;
  text-align: right;
  border: none;
  color: #999999;

  &:hover {
    text-decoration: 2px underline #0d99ff;
  }
}
