.list_chats {
  display: flex;
  flex-direction: column;
  width: 310px;
  background-color: rgba(251, 251, 251, 1);
}

.buttonProfile {
  display: flex;
  margin-top: 21px;
  margin-right: 10px;
  margin-left: auto;
  width: 76px;
  height: auto;
  border: 2px solid transparent;

  &:hover {
    border-color: #0d99ff;
  }
}

.form {
  display: flex;
  width: auto;
  margin: 20px 10px;
  border: 2px solid transparent;
  border-radius: 5px;
  background-color: rgba(239, 239, 239, 1);

  &:hover {
    border: 2px solid #0d99ff;
  }
}

.search {
  width: 100%;
  margin: 10px 0;
  border: none;
  outline: none;
  background-color: rgba(239, 239, 239, 1);
}
