.user_chat {
  position: relative;
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin: 0 21px;
}

.select_chat {
  display: flex;
  width: 257px;
  height: 12px;
}

.span_select_chat {
  font-family: Inter;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: 0em;
  color: #999999;

  &:hover {
    text-decoration: 2px underline #0d99ff;
  }
}

.line {
  width: 100%;
  border: 1px solid  #EAEAEA;
  ;

  &:hover {
    border: 1px solid #0d99ff;
  }
}
